.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a,
a:hover,
a:active {
    color: #212529;
    text-decoration: none;
}

.card-text{
    min-height: 50px;
}

.btn-good {
    border: 1px solid transparent;
}

.status-ok:hover {
    background-color: #27ae60;
    color: white;
    border-color: #27ae60;
}

.status-fail:hover {
    background-color: #c0392b;
    color: white;
    border-color: #c0392b;
}